@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-2000px); }
  60% {
    opacity: 1;
    -webkit-transform: translateX(30px); }
  80% {
    -webkit-transform: translateX(-10px); }
  100% {
    -webkit-transform: translateX(20px); } }
@keyframes bounceInLeft {
  0% {
    opacity: 0;
    transform: translateX(-2000px); }
  60% {
    opacity: 1;
    transform: translateX(30px); }
  80% {
    transform: translateX(-10px); }
  100% {
    transform: translateX(20px); } }
.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft; }

body {
  font-family: 'Stylish', sans-serif;
  color: #fff;
  background: -webkit-linear-gradient(90deg, #6f9fca, #14375a);
  background: -o-linear-gradient(90deg, #6f9fca, #14375a);
  background: -moz-linear-gradient(90deg, #6f9fca, #14375a);
  background: linear-gradient(90deg, #6f9fca, #14375a); }

.grid {
  display: grid;
  grid-row-gap: 2em; }
  .grid .grid-items {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-row-gap: 2.5em;
    list-style: none; }
    .grid .grid-items .grid-items-figure {
      transition: all 2s;
      -webkit-transition: all 2s;
      -moz-transition: all 2s;
      -ms-transition: all 2s;
      -o-transition: all 2s; }
    .grid .grid-items .grid-items-figure:hover {
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5); }
  .grid .grid-items-image {
    max-width: 100%; }

.wrapper {
  margin-left: 4.5em; }
  @media screen and (max-width: 1100px) {
    .wrapper {
      display: flex;
      flex-direction: column; } }
  .wrapper .wrapper-mainHeading {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.25em; }
    @media screen and (max-width: 1048px) {
      .wrapper .wrapper-mainHeading {
        font-size: 2em; } }
    @media screen and (max-width: 850px) {
      .wrapper .wrapper-mainHeading {
        font-size: 1.75em; } }
  .wrapper .wrapperParaBottomGap {
    margin-bottom: 3.25em;
    font-size: 1.2em; }
    @media screen and (max-width: 1048px) {
      .wrapper .wrapperParaBottomGap {
        font-size: 1.1em; } }
    @media screen and (max-width: 850px) {
      .wrapper .wrapperParaBottomGap {
        font-size: 1em; } }

.wrapper-mainHeading {
  -webkit-animation-duration: 2;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both; }

.container {
  max-width: 100%;
  width: 75%;
  margin: 0 auto; }
  @media screen and (max-width: 1200px) {
    .container {
      width: 85%; } }

.navigation {
  position: fixed;
  left: -2em;
  top: 0;
  height: 100%; }
  .navigation .fa-bars {
    display: none; }
  .navigation .navigationItems {
    line-height: 2.5em;
    font-size: 1.2em;
    list-style: none; }
    @media screen and (max-width: 1100px) {
      .navigation .navigationItems {
        font-size: 1em; } }
    @media screen and (max-width: 850px) {
      .navigation .navigationItems {
        font-size: 0.9em; } }
    @media screen and (max-width: 640px) {
      .navigation .navigationItems {
        display: none; } }
  .navigation .navigationItemsCategory {
    border-bottom: 1px solid #fff;
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s; }
  .navigation .navigationItemsCategory:hover, .navigation .active {
    background: #5f9ddb;
    cursor: pointer;
    transition-timing-function: ease-in; }
  .navigation .navigationListLinks {
    text-decoration: none;
    color: #fff; }
  .navigation .active {
    transition-timing-function: none; }

@media screen and (max-width: 640px) {
  .fa-bars {
    display: flex;
    color: #fff;
    cursor: pointer;
    margin-right: 0.5em; } }

.about-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .about-wrapper .about-items {
    line-height: 2em;
    font-size: 1.2em; }

/*# sourceMappingURL=style.css.map */
