.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    list-style: none;

    .grid-figure {
       max-width: $WidthFull;
       @include transitionImages();
}
.grid-figure:hover {
    @include hoverImages();
}
       
}

   