

// .tempBox1 {
//     outline: 2px solid black;
// }

.wrapper {
    margin-left: 3.25em;

    .wrapper-mainHeading{
        text-transform: uppercase;
        font-size: 3.5em;
        letter-spacing: 0.25em;
    }
}

