@import 'responsive';

.wrapper {
  margin-left: 4.5em;

  .wrapper-mainHeading {
    text-transform: uppercase;
    font-size: 2.5em;
    letter-spacing: 0.25em;
  }

  .wrapperParaBottomGap {
    margin-bottom: $marginBottom;
  }
}

.wrapper-mainHeading {
  @include transitionHeadingLeft();
}
