@mixin bodyGradient() {
    
background: -webkit-linear-gradient(90deg, rgb(111, 159, 202), rgb(20, 55, 90));
background: -o-linear-gradient(90deg, rgb(111, 159, 202), rgb(20, 55, 90));
background: -moz-linear-gradient(90deg, rgb(111, 159, 202), rgb(20, 55, 90));
background: linear-gradient(90deg, rgb(111, 159, 202), rgb(20, 55, 90));

}

@mixin transitionImages(){
    transition: all 2s;
       -webkit-transition: all 2s;
       -moz-transition: all 2s;
       -ms-transition: all 2s;
       -o-transition: all 2s;
}

@mixin hoverImages(){
    transform:scale(1.5);
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);
    -o-transform:scale(1.5);
}

@mixin transitionBackground(){
    transition: background 1s;
    -webkit-transition: background 1s;
    -moz-transition: background 1s;
    -ms-transition: background 1s;
    -o-transition: background 1s;
}